.card-img-tiles {
    display: block;
    border-bottom: 1px solid #e1e7ec;
}

.card-img-tiles>.inner {
    display: table;
    width: 100%;
}

.card-img-tiles .main-img {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle;
}

.card-img-tiles .main-img>img:last-child {
    margin-bottom: 0;
}

.card-img-tiles .main-img>img {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    min-height: 260px;
}