<div class="container" style="justify-content: center;">
    <div class="card">
        <div class="card-header">
            <h3>Đăng ký</h3>
        </div>
        <div class="card-body">
            <form name="register" novalidate ng-submit="register.$valid && handleRegister()">
                <div class="form-group">
                    <label>Mã sinh viên</label>
                    <input type="text" name="mssv" ng-model="student.mssv" class="form-control"
                        placeholder="Nhập mã số sinh viên" required ng-minlength="7" ng-maxlength="7">
                    <div class="error" ng-show="register.mssv.$touched || register.$submitted">
                        <span ng-show="register.mssv.$error.required">Mã số sinh viên không được để trống</span>
                        <span ng-show="register.mssv.$error.minlength || register.mssv.$error.maxlength">Mã số sinh viên phải có 7 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Họ tên</label>
                    <input type="text" name="name" ng-model="student.name" class="form-control"
                           placeholder="Nhập họ tên" required ng-minlength="3" ng-maxlength="30">
                    <div class="error" ng-show="register.name.$touched || register.$submitted">
                        <span ng-show="register.name.$error.required">Họ tên sinh viên không được để trống</span>
                        <span ng-show="register.name.$error.minlength">Họ tên sinh viên phải có trên 3 ký tự</span>
                        <span ng-show="register.name.$error.maxlength">Họ tên sinh viên phải dưới 30 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="student.email" class="form-control" placeholder="Nhập địa chỉ email" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                    <div class="error" ng-show="register.email.$touched || register.$submitted">
                        <span ng-show="register.email.$error.required">Địa chỉ email không được để trống</span>
                        <span ng-show="register.email.$error.pattern">Địa chỉ email không hợp lệ</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Giới tính</label>
                    <div class="form-control">
                        <input type="radio" name="gender" ng-model="student.gender" value="male" ng-required="!student.gender"> Nam
                        <input type="radio" name="gender" ng-model="student.gender" value="female" ng-required="!student.gender"> Nữ
                        <div class="error" ng-show="register.gender.$touched || register.$submitted">
                            <span ng-show="register.gender.$error.required">Vui lòng chọn giới tính</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Sở thích</label>
                    <div class="form-control">
                        <input type="checkbox" name="hobbies" ng-model="student.hobbies.read" ng-required="!student.hobbies"> Đọc sách
                        <input type="checkbox" name="hobbies" ng-model="student.hobbies.travel" ng-required="!student.hobbies"> Du lịch
                        <input type="checkbox" name="hobbies" ng-model="student.hobbies.program" ng-required="!student.hobbies"> Lập trình
                        <input type="checkbox" name="hobbies" ng-model="student.hobbies.music" ng-required="!student.hobbies"> Âm nhạc
                        <input type="checkbox" name="hobbies" ng-model="student.hobbies.other" ng-required="!student.hobbies"> Khác
                        <div class="error" ng-show="register.hobbies.$touched || register.$submitted">
                            <span ng-show="register.hobbies.$error.required">Vui lòng chọn một vài sở thích</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Quốc tịch</label>
                    <select name="country" ng-model="student.country" class="form-control" required>
                        <option value="VN">Việt Nam</option>
                        <option value="US">Mỹ</option>
                        <option value="UK">Anh</option>
                        <option value="JP">Nhật Bản</option>
                    </select>
                    <div class="error" ng-show="register.country.$touched || register.$submitted">
                        <span ng-show="register.country.$error.required">Vui lòng chọn quốc tịch</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notes">Ghi chú</label>
                    <textarea id="notes" class="form-control" placeholder="Nhập ghi chú"></textarea>
                </div>
                <button class="btn btn-primary btn-block">Đăng ký</button>
            </form>
            <p style="text-align: center; margin-top: 15px;">
                Đã có tài khoản? <a href="#!login" style="font-weight: bold;">Đăng nhập</a>
            </p>
        </div>
    </div>
</div>