@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(236, 236, 236);
}

.container {
  margin: auto 150px;
}

@media screen and (max-width: 1442px) {
  .container {
    margin: 0 150px;
  }
}

@media screen and (max-width: 1042px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 742px) {
  nav .menu {
    display: none;
  }
}

nav {
  background-color: rgb(255, 145, 0);
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

nav .logo {
  float: left;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}

nav .logo img {
  max-width: 150px;
  padding-top: 5px;
}

nav .menu {
  float: right;
  margin-top: 9px;
}

nav .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .menu ul li {
  display: inline-block;
  padding: 10px;
}

nav .menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
}

nav .menu ul li a:hover,
nav .menu ul li .active {
  background-color: #fff;
  color: rgb(255, 145, 0);
  border-radius: 3px;
}

nav .menu ul li a i {
  font-size: 17px;
  padding-right: 5px;
}

main {
  margin-top: 90px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

main .container {
  display: flex;
  width: 100%;
}

main article {
  width: 70%;
  padding: 0;
  margin-right: 20px;
}

main article .card {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.news-section {
  margin-left: 5px;
}

.news-item {
  display: flex;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 20px;
}

.news-item:last-child {
  border-bottom: none;
}

.news-item .img {
  margin-right: 30px;
  padding-bottom: 20px;
}

.news-item .item-info a {
  color: #000;
  text-decoration: none;
}

.news-item .item-info a h3 {
  margin: 0;
  color: rgb(95, 92, 90);
  font-size: 22px;
  margin-bottom: 10px;
}

.news-item .item-info a h3:hover {
  color: rgb(255, 136, 0);
}

.news-item .item-info .item-desc {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #555;
}

.news-item .item-info .item-author {
  font-size: 14px;
  color: #555555;
  align-items: center;
  display: flex;
}

.news-item .item-info .item-author .author-name {
  color: rgb(95, 92, 90);
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.news-item .item-info .item-author .author-date {
  color: #555;
  font-size: 14px;
}

main aside {
  width: 30%;
  padding: 0;
  margin: 0;
}

main aside .card-viewest {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  margin-right: 5px;
  padding-bottom: auto;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-viewest .heading {
  background-color: #fff;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-viewest .body {
  margin: 5px auto;
}

.card-viewest .body .most-views {
  display: flex;
  flex-direction: column;
}

.card-viewest .body .most-views li {
  display: flex;
}

.card-viewest .body .most-views li:not(:last-child) {
  margin-bottom: 10px;
}

.card-viewest .body .most-views li span {
  flex: 0 0 40px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  background-color: rgb(177, 168, 154);
}

.card-viewest .body .most-views li span:first-child {
  background-color: rgb(255, 136, 0);
}

.card-viewest .body .most-views li a {
  color: #000;
  text-decoration: none;
  outline: none;
}

.card-viewest .body .most-views li a h3 {
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  max-height: 36px;
  overflow: hidden;
}

main .gallery .gallery-header h1 {
  margin: 0;
  padding: 0;
  color: rgb(255, 136, 0);
}

main .gallery .gallery-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

main .gallery .gallery-content .gallery-item {
  width: 30%;
  padding: 0;
  margin: 15px auto;
}

main .gallery .gallery-content .gallery-item img {
  width: 100%;
  height: auto;
  border: 3px dotted #ff8800;
  border-radius: 3px;
}

.section-box {
  margin: 5px;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.contact-section {
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
}

.contact-section .contact-main {
  width: 70%;
}

.contact-section .contact-main .contact-info h2 {
  margin: 0;
  color: #ff8800;
  font-size: 22px;
  margin-bottom: 20px;
}

.contact-section .contact-main .contact-info p {
  font-size: 14px;
  color: #555;
}

.contact-section .contact-main .contact-form form {
  width: 80%;
  margin-top: 20px;
}

.contact-section .contact-main .contact-form form .form-group {
  margin-bottom: 20px;
}

.contact-section .contact-main .contact-form form .form-group label {
  color: #555;
  font-size: 14px;
  font-weight: bold;
}

.contact-section .contact-main .contact-form form .form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.contact-section .contact-main .contact-form form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 3px;
  font-size: 14px;
  color: #555;
  height: 150px;
  margin-top: 10px;
}

.contact-section .contact-main .contact-form form .button-submit {
  background-color: #ff8800;
  color: #fff;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid transparent;
}

.contact-section .contact-main .contact-form form .button-submit:hover {
  background-color: #ff5e00;
  color: #ffffff;
}

.contact-section .contact-map {
  width: 50%;
  height: 300px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-right: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item a {
  text-decoration: none;
  color: #000;
}

.product-item {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 10px;
}

.product-item .product-image img {
  width: 200px;
}

.product-item .product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
  color: #ff8800;
}

.product-item .product-price {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}


footer {
  margin-top: 50px;
  width: 100%;
  background-color: white;
  color: rgb(82, 79, 75);
}

footer .about {
  width: 50%;
  padding: 20px;
}

footer h2 {
  text-transform: uppercase;
  font-size: 19px;
}

footer .other {
  width: 50%;
  padding: 20px;
}

footer .container {
  display: flex;
}

.social {
  margin-top: 25px;
}

.social .sc-youtube {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}

.social .sc-facebook {
  background-color: #3b5998;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
}


.social a {
  text-decoration: none;
}

.other .address {
  margin-top: 25px;
}

.other .address p {
  font-size: 14px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover .sub-menu {
  display: block;
}

.sub-menu a {
  color: rgb(255, 145, 0)!important;
  background: none;
}

.box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.box {
  width: 100%;
  margin-bottom: 1.7em;
}

.box-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(255, 136, 0);
  color: white;
  padding: 13px;
}

.box-header h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.box-body {
  border: 2px solid rgb(255, 136, 0);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
}

.box-body #map {
  width: 100%;
  height: 400px;
}

.box-body #fb-post {
  width: 50%;
  height: 390px;
}

.box-content {
  padding: 0 15px;
}